@model IEnumerable<Ticket.Models.TicketM>

@{
    ViewData["Title"] = "Réservations";
}

<h3>Mes réservations</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Film</th>
            <th>Date et Heure</th>
            <th>Siège</th>
            <th>Prix</th>
            <th>Date d'achat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.User?.UserName</td>
                <td>@ticket.Screening?.Movie?.Title </td>
                <td>@ticket.Screening?.StartTime.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@ticket.SeatNumber</td>
                <td>@ticket.Screening?.Price</td>
                <td>@ticket.DateAchat.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
